html {
  font-family: Arial, 'sans-serif';
}

h1 {
  font-weight: bold;
  color: white;
}

h1::selection {
  color: red;
}

p, li {
  color: green;
}

p::selection, li::selection {
  color: yellow;
}

body {
  background-color: black;
}

a::selection {
  color: white;
}

i::selection {
  color: darkred;
}

a {
  color: violet;
}
